.no-resize{
  resize: none;
}

.clickeable {
  cursor: pointer;
}
  
.toast-container {
  /* Assuming this is the parent container you want centered */
  position: absolute; /* Remove from parent flow */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center horizontally & vertically */
}

.card {
  --font-color: #323232;
  --bg-color: #e0e0e0;
  width: 15rem;
  height: auto;
  border-radius: 20px;
  background: var(--bg-color);
  box-shadow: -9px 9px 18px #5a5a5a,
              9px -9px 18px #ffffff;
  display: flex;
  flex-direction: column;
  transition: .2s;
  position: relative;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 10px 2px #5a5a5a;
}
.card__descr-wrapper {
  padding: 15px;
  display: grid;
}

.card__title {
  color: var(--font-color);
  text-align: center;
  margin-bottom: 15px;
  font-weight: 900;
  font-size: 16px;
}

.card__descr {
  color: var(--font-color);
}