<body>
    <div class="container">
        <div class="row my-4">
            <div class="col-3">
                <div class="input-group input-group-sm">
                    <span class="input-group-text">ID</span>
                    <textarea class="form-control no-resize" aria-label="With textarea" style="height: 20px;"
                        [(ngModel)]="id" readonly></textarea>
                </div>
            </div>
            <div class="col-9">
                <div class="input-group input-group-sm">
                    <span class="input-group-text">Nombre</span>
                    <textarea class="form-control no-resize" aria-label="With textarea" style="height: 20px;"
                        [(ngModel)]="nombre" readonly></textarea>
                </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-5">
                <div class="input-group input-group-sm">
                    <span class="input-group-text">Fecha primer contacto</span>
                    <textarea class="form-control no-resize" aria-label="With textarea" style="height: 20px;"
                        [(ngModel)]="fecha" readonly></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <!-- CARD contactos -->
                <div class="card">
                    <div class="card__descr-wrapper">
                        <p class="card__title">
                            <input type="checkbox" (change)="toggleTodos($event)"> Contactos
                        </p>
                        <div class="card__descr">
                            <table class="" id="tablacontactos">
                                <tbody>
                                    <ng-container *ngFor="let contacto of contactos | async">
                                        <tr *ngIf="!contacto.deleted">
                                            <td><input type="checkbox" [(ngModel)]="contacto.click"></td>
                                            <td class="clickeable" (click)="modifica(contacto.id)">{{contacto.cargo}}</td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                            <button *ngIf="(hayContactosSeleccionados() | async)" (click)="eliminar()">Eliminar</button>
                        </div>
                    </div>
                </div>



                <div class="row my-1">
                    <div class="col-4">Contactos</div>
                    <div class="col-6"><button class="btn btn-primary btn-sm" (click)="toasty('añadirContacto')">Añadir</button></div>
                </div>
                <div class="row">
                    <table class="table table-striped" id="tablacontactos">
                        <thead>
                            <tr>
                                <th><input type="checkbox" unchecked disabled></th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody id="bodytable-contactos"></tbody>
                    </table>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-4">
                <div class="row my-1">
                    <div class="col-4">Proyectos</div>
                    <div class="col-6"><button class="btn btn-primary btn-sm" (click)="toasty('añadirProyecto')">Añadir</button></div>
                </div>
                <div class="row">
                    <table class="table table-striped" id="tablaproyectos">
                        <thead>
                            <tr>
                                <th><input type="checkbox" unchecked disabled></th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody id="bodytable-proyectos"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="toast-container end-1 p-3 d-flex justify-content-center align-items-center">
            <div id="añadirContacto" class="toast text-center" aria-live="assertive" aria-atomic="true">
                <app-aniadecontacto></app-aniadecontacto>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-5"></div>
        <div class="col-7">
            <div class="row my-2">
                <div class="col-5">Propuestos y licitaciones</div>
                <div class="col-7"><button class="btn btn-primary btn-sm" (click)="toasty('añadirLicitacion')">Añadir</button></div>
            </div>
            <div class="row">
                <table class="table table-striped" id="tablalicitaciones">
                    <thead>
                        <tr>
                            <th><input type="checkbox" unchecked disabled></th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody id="bodytable-licitaciones"></tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="row my-2">
                <div class="col-2">Seguimiento</div>
                <div class="col-6"><button class="btn btn-primary btn-sm" (click)="toasty('añadirSeguimiento')">Añadir</button></div>
            </div>
            <div class="row">
                <table class="table table-striped" id="tablaseguimientos">
                    <thead>
                        <tr>
                            <th><input type="checkbox" unchecked disabled></th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody id="bodytable-seguimientos"></tbody>
                </table>
            </div>
        </div>
    </div>
</body>