.centrado{
    text-align: center;
    vertical-align: middle;
}

.no-resize{
    resize: none;
}
.input-group-text{
    font-size: small !important;
}
*{
    font-size: small;
}
button:hover a{
    color: white !important;
}
button:hover {
    
    background-color: rgb(6, 6, 121);
}
button{
    margin: 0;
    border-color: rgb(136, 136, 224);
    border-width: 1px;
    font-size: small;

}
a{
    text-decoration: none;
}
.input-group{
    margin: 0.8rem;
}