*{
    font-size: small !important;
}

.centrado{
    text-align: center;
    vertical-align: middle;
}

.no-resize{
    resize: none;
}

.button{
    margin-top: 1rem;
    margin-right: 1rem;
    width: 6rem;
}

.button .btn-label {
    margin-right: 0.3rem;
}

.mylabel{
    background-color: rgb(16, 45, 139);
    color: white;
}