<body>
    <div class="row my-1">
        <div class="col">
            <div class="input-group input-group-sm">
                <span class="input-group-text">Id</span>
                <textarea class="form-control no-resize" aria-label="With textarea" style="height: 20px;"
                    [(ngModel)]="id" readonly></textarea>
            </div>
        </div>
        <div class="col">
            <div class="input-group input-group-sm font-size-md">
                <span class="input-group-text ">Fecha.C</span>
                <input type="date" id="start" name="trip-start" [(ngModel)]="fechaCre"/>
                <!-- <textarea class="form-control no-resize" aria-label="With textarea" style="height: 20px;" [(ngModel)]="fechaCre" readonly></textarea> -->
            </div>
        </div>
    </div>
    <div class="row my-3">
        <div class="col">
        </div>
    </div>
    <div class="row my-3">
        <div class="col">
            <div class="input-group input-group-sm">
                <span class="input-group-text">Nombre</span>
                <textarea class="form-control no-resize" aria-label="With textarea" style="height: 20px;" [(ngModel)]="nombre"></textarea>
            </div>
        </div>
    </div>
    <angular-editor [placeholder]="'Enter text here...'" [config]="config" [(ngModel)]="observaciones"></angular-editor>
    <button type="button" class="button btn btn-labeled btn-light float-right" (click)="cancel()">
        <span class="btn-label"><i class="bi bi-backspace-fill "></i></span>Cancelar</button>
        
    <button type="button" class="button btn btn-labeled btn-danger float-right" (click)="delete()">
        <span class="btn-label"><i class="bi bi-trash"></i></span>Eliminar</button>
    
    <button type="button" class="button btn btn-labeled btn-success float-right" (click)="create()">
        <span class="btn-label"><i class="bi bi-check-circle"></i></span>Crear</button>
    
</body>