.tree-invisible {
  display: none;
}

.tree ul,
.tree li {
  list-style-type: none;
}

.tree {
  border-radius: 0.2rem;
  width: auto;
  position: absolute;
  top: 0;
  left: 5rem;
  padding: 0px 50px 25px 25px;
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%),
    radial-gradient(1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%);
  box-sizing: border-box;
  overflow-y: auto;
  height: calc(100vh - 3.875rem);
}

.mat-tree-node,
.mat-nested-tree-node {
  color: #fff;
  align-items: center;
  align-content: center;
}



button[mat-icon-button] {
    color: #fff;
}

.light-button {
  font-size: 90%;
  margin-bottom: 1rem;
} 
