<div class="container">
    <ul class="list-group">
      <!-- Carpeta principal -->
      <li class="list-group-item">
        <div class="d-flex align-items-center">
          <span class="fa fa-folder folder-icon mr-2"></span>
          <a href="#subfolder1" data-toggle="collapse">Carpeta Principal</a>
        </div>
        <!-- Subcarpetas colapsables -->
        <ul class="list-unstyled collapse" id="subfolder1">
          <!-- Subcarpeta 1 -->
          <li class="list-group-item pl-5">
            <div class="d-flex align-items-center">
              <span class="folder-line"></span>
              <span class="fa fa-folder folder-icon mr-2"></span>
              <a href="#subsubfolder1" data-toggle="collapse">Subcarpeta 1</a>
            </div>
            <!-- Línea de conexión -->
            <div class="d-flex align-items-center">
              <div class="connector-line"></div>
            </div>
            <!-- Subcarpeta 1.1 -->
            <ul class="list-unstyled collapse" id="subsubfolder1">
              <li class="list-group-item pl-5">
                <div class="folder-line"></div>
                <div class="d-flex align-items-center">
                  <span class="fa fa-folder folder-icon mr-2"></span>
                  <a href="#">Subcarpeta 1.1</a>
                </div>
              </li>
              <!-- Archivos de la subcarpeta 1.1 -->
              <li class="list-group-item pl-5">
                <div class="d-flex align-items-center">
                  <span class="fa fa-file mr-2"></span>
                  Archivo 1.1.1
                </div>
              </li>
              <li class="list-group-item pl-5">
                <div class="d-flex align-items-center">
                  <span class="fa fa-file mr-2"></span>
                  Archivo 1.1.2
                </div>
              </li>
            </ul>
          </li>
          <!-- Subcarpeta 2 -->
          <li class="list-group-item pl-5">
            <div class="folder-line"></div>
            <div class="d-flex align-items-center">
              <span class="fa fa-folder folder-icon mr-2"></span>
              <a href="#">Subcarpeta 2</a>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div ng-controller="DialogDemoCtrl">
    <div class="span5 article-tree">
    <div ng-style="{'overflow': 'auto'}">

      <script type="text/ng-template"  id="tree_item_renderer">

      <span  ng-click="nodeClicked(data)"  >
   
       <i class="{{ switcher( isLeaf(data), '', 'icon-minus-sign' )}}"></i> 
      {{showNode(data)}}
      </span>
      <a href="">{{data.name}}</a>
      
      <ul class="some" ng-show="data.show">       
     
      <li ng-repeat="data in data.nodes" class="parent_li"  ng-include="'tree_item_renderer'" tree-node></li>
      </ul>

      </script>

      <div class="tree well">

   

    <ul>
      <li ng-repeat="data in displayTree"  ng-include="'tree_item_renderer'"></li>
    </ul>
  </div>
</div>
</div>
</div>