<div class="container-fluid">
  <div class="row">
    <div class="col md-12 p-0">
      <nav class="sidebar close hoverable">
        <div class="logo_items flex">
          <span class="nav_image">
            <img src="../../assets/images/logoHiberus.jpg" alt="logo_img" (click)="onHomeClick()" />
          </span>
          <span class="logo_name">Hiberus</span>
          <i class="bi-unlock" id="lock-icon" title="Unlock Sidebar"></i>
          <i class="bi bi-lock bi-lock-fill" id="sidebar-close"></i>
        </div>
        <div class="menu_container p-0">
          <div class="menu_items"> 
            <ul class="menu_item">
              <div class="menu_title flex">
                <span class="title">Cliente</span>
                <span class="line"></span>
              </div>
              <li class="item">
                <a href="#" data-bs-toggle="modal" data-bs-target="" class="link flex"
                  onclick="openCreaCliente($event)">
                  <i class="bi bi-building"></i>
                  <span>clientes</span>
                </a>
                <div class="modal fade" id="modalCreaCliente" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-body">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <app-crea-cliente></app-crea-cliente>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item">
                <a href="#" data-bs-toggle="modal" data-bs-target="#modalCreaCliente" class="link flex"
                  onclick="openCreaCliente($event)">
                  <i class="bi bi-building-add"></i>
                  <span>Añadir cliente</span>
                </a>
                <div class="modal fade" id="modalCreaCliente" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-body">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <app-crea-cliente></app-crea-cliente>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item">
                <a href="#" data-bs-toggle="modal" data-bs-target="#modalCreaCliente" class="link flex"
                  onclick="openCreaCliente($event)">
                  <i class="bi bi-building-gear"></i>
                  <span>modificar cliente</span>
                </a>
                <div class="modal fade" id="modalCreaCliente" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-body">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <app-crea-cliente></app-crea-cliente>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              
              <li class="item">
                <a href="#" data-bs-toggle="modal" data-bs-target="#modalCreaCliente" class="link flex"
                  onclick="openCreaCliente($event)">
                  <i class="bi bi-building-x"></i>
                  <span>eliminar cliente</span>
                </a>
                <div class="modal fade" id="modalCreaCliente" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-body">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <app-crea-cliente></app-crea-cliente>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              
              
            </ul>
            <ul class="menu_item">
              <div class="menu_title flex">
                <span class="title">Proyecto</span>
                <span class="line"></span>
              </div>
              <li class="item">
                <a href="#" data-bs-toggle="modal" data-bs-target="#modalCreaProyecto" class="link flex"
                  onclick="openCreaCliente($event)">
                  <i class="bi bi-database"></i>
                  <span>proyectos</span>
                </a>
                <div class="modal fade" id="modalCreaProyecto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-body">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <app-crea-proyecto></app-crea-proyecto>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li class="item">
                <a href="#" data-bs-toggle="modal" data-bs-target="#modalCreaProyecto" class="link flex"
                  onclick="openCreaCliente($event)">
                  <i class="bi bi-database-add"></i>
                  <span>Crea proyecto</span>
                </a>
                <div class="modal fade" id="modalCreaProyecto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-body">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <app-crea-proyecto></app-crea-proyecto>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item">
                <a href="#" data-bs-toggle="modal" data-bs-target="#modalCreaProyecto" class="link flex"
                  onclick="openCreaCliente($event)">
                  <i class="bi bi-database-gear"></i>
                  <span>Modificar proyecto</span>
                </a>
                <div class="modal fade" id="modalCreaProyecto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-body">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <app-crea-proyecto></app-crea-proyecto>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item">
                <a href="#" data-bs-toggle="modal" data-bs-target="#modalEliminaProyecto" class="link flex"
                  onclick="openCreaCliente($event)">
                  <i class="bi bi-database-x"></i>
                  <span>Eliminar proyecto</span>
                </a>
                <div class="modal fade" id="modalEliminaProyecto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-body">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <app-elimina-proyecto></app-elimina-proyecto>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              
              
             
            </ul>
            <ul class="menu_item">
              <div class="menu_title flex">
                <span class="title">Setting</span>
                <span class="line"></span>
              </div>
              <li class="item">
                <a href="#" class="link flex">
                  <i class="bi bi-gear"></i>
                  <span>Notice Board</span>
                </a>
              </li>
              <li class="item">
                <a href="#" class="link flex">
                  <i class="bi bi-envelope"></i>
                  <span>Award</span>
                </a>
              </li>
              <li class="item">
                <a href="#" class="link flex">
                  <i class="bi bi-trash"></i>
                  <span>Setting</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>