<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown m-2">
                        <a href="#" class="px-0 align-middle text-white text-decoration-none d-block d-sm-none" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fs-4 bi-speedometer2"></i>
                        </a>
                        <a href="#" class="px-0 align-middle dropdown-toggle text-white text-decoration-none d-none d-sm-inline" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fs-4 bi-speedometer2"></i> Seccion1
                        </a>
                        <div class="dropdown-menu" aria-labelledby="submenu1">
                            <a href="#" class="dropdown-item">Item 1</a>
                            <a href="#" class="dropdown-item">Item 2</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">Subsección 1</a>
                            <a href="#" class="dropdown-item">Subsección 2</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown m-2">
                        <a href="#" class="px-0 align-middle text-white text-decoration-none d-block d-sm-none" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fs-4 bi-speedometer2"></i>
                        </a>
                        <a href="#" class="px-0 align-middle dropdown-toggle text-white text-decoration-none d-none d-sm-inline" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fs-4 bi-speedometer2"></i> Seccion2
                        </a>
                        <div class="dropdown-menu" aria-labelledby="submenu1">
                            <a href="#" class="dropdown-item">Item 1</a>
                            <a href="#" class="dropdown-item">Item 2</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">Subsección 1</a>
                            <a href="#" class="dropdown-item">Subsección 2</a>
                        </div>
                    </li>
                    
                    <li class="nav-item dropdown m-2">
                        <a href="#" class="px-0 align-middle text-white text-decoration-none d-block d-sm-none" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fs-4 bi-speedometer2"></i>
                        </a>
                        <a href="#" class="px-0 align-middle dropdown-toggle text-white text-decoration-none d-none d-sm-inline" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fs-4 bi-speedometer2"></i> Seccion3
                        </a>
                        <div class="dropdown-menu" aria-labelledby="submenu1">
                            <a href="#" class="dropdown-item">Item 1</a>
                            <a href="#" class="dropdown-item">Item 2</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">Subsección 1</a>
                            <a href="#" class="dropdown-item">Subsección 2</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown m-2">
                        <a href="#" class="px-0 align-middle text-white text-decoration-none d-block d-sm-none" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fs-4 bi-speedometer2"></i>
                        </a>
                        <a href="#" class="px-0 align-middle dropdown-toggle text-white text-decoration-none d-none d-sm-inline" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fs-4 bi-speedometer2"></i> Seccion4
                        </a>
                        <div class="dropdown-menu" aria-labelledby="submenu1">
                            <a href="#" class="dropdown-item">Item 1</a>
                            <a href="#" class="dropdown-item">Item 2</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">Subsección 1</a>
                            <a href="#" class="dropdown-item">Subsección 2</a>
                        </div>
                    </li>
                    
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</div>


