
<div class="container-fluid">
  <div class="row">
    <div class="col md-12 p-0">
      <nav class="sidebar close hoverable">
        <div class="logo_items flex">
          <span class="nav_image" >
            <img src="../../assets/images/logoHiberus.jpg" alt="logo_img" (click)="onHomeClick()" />
          </span>
          <span class="logo_name">Hiberus</span>
          <i class="bi-unlock" id="lock-icon" title="Unlock Sidebar"></i>
          <i class="bi bi-lock bi-lock-fill" id="sidebar-close"></i>
        </div>
        <div class="menu_container p-0">
          <div class="menu_items">
            <ul class="menu_item">
              <div class="menu_title flex">
                <span class="title">Dashboard</span>
                <span class="line"></span>
              </div>
              <li class="item">
                <a href="/creacliente" class="link flex">
                  <i class="bi bi-person"></i>
                  <span>Añadir cliente</span>
                </a>
              </li>
              <li class="item">
                <a href="#" class="link flex">
                  <i class="bi bi-heart"></i>
                  <span>All Projects</span>
                </a>
              </li>
            </ul>
            <ul class="menu_item">
              <div class="menu_title flex">
                <span class="title">Editor</span>
                <span class="line"></span>
              </div>
              <li class="item">
                <a href="#" class="link flex">
                  <i class="bi bi-star"></i>
                  <span>Magic Build</span>
                </a>
              </li>
              <li class="item">
                <a href="#" class="link flex">
                  <i class="bi bi-cart"></i>
                  <span>New Projects</span>
                </a>
              </li>
              <li class="item">
                <a href="#" class="link flex">
                  <i class="bi bi-phone"></i>
                  <span>Upload New</span>
                </a>
              </li>
            </ul>
            <ul class="menu_item">
              <div class="menu_title flex">
                <span class="title">Setting</span>
                <span class="line"></span>
              </div>
              <li class="item">
                <a href="#" class="link flex">
                  <i class="bi bi-gear"></i>
                  <span>Notice Board</span>
                </a>
              </li>
              <li class="item">
                <a href="#" class="link flex">
                  <i class="bi bi-envelope"></i>
                  <span>Award</span>
                </a>
              </li>
              <li class="item">
                <a href="#" class="link flex">
                  <i class="bi bi-trash"></i>
                  <span>Setting</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
