<body>
  <nav class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab"
      aria-controls="nav-home" aria-selected="true">Crear seguimiento</a>
    <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab"
      aria-controls="nav-profile" aria-selected="false">Seguimientos</a>
    <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-crearLicitaciones" role="tab"
      aria-controls="nav-licitaciones" aria-selected="false">Crear licitaciones</a>
      <a class="nav-link" id="nav-proyectos-tab" data-bs-toggle="tab" href="#nav-proyectos" role="tab"
      aria-controls="nav-proyectos" aria-selected="false">Crear licitaciones</a>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <app-crea-seguimiento></app-crea-seguimiento>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <app-datatable></app-datatable>
    </div>
    <div class="tab-pane fade" id="nav-crearLicitaciones" role="tabpanel" aria-labelledby="nav-profile-tab">
      <app-crea-licitacion></app-crea-licitacion>
    </div>
    <div class="tab-pane fade" id="nav-proyectos" role="tabpanel" aria-labelledby="nav-proyectos-tab">
      Hay que crear el componente
    </div>
  </div>
</body>