*{
    font-size: small;
    
}

.tabmenu{
    overflow-y: auto;
    height: calc(100vh - 3.875rem);
}

::-webkit-scrollbar {
    width: 1.2rem;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }
  .nav-link{
    color: rgb(10, 46, 167) ;
  }