<section class="background-radial-gradient overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="image-block">
                    <img src="../../assets/images/error.png" alt="Error 404 Image" class="img-fluid">
                </div>
            </div>
            <div class="col-md-8">
                <div class="spacer-block" style="padding-top: 11.11%;"></div>
                <div class="html-block">
                    <div class="sqs-html-content text-center">
                        <h1 class="text-center text-white">¡Ups! Página no encontrada</h1>
                        <p class="text-center text-white">Lo que buscas parece haberse extraviado en nuestra memoria a largo plazo.</p>
                        <button type="button" class="btn btn-outline-info mb-4" (click)="volverAPaginaPrincipal()">
                            Volver a la página principal
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>