<div class="card bg-glass col-auto bg-light p-5 background-radial-gradient">
    <div class="card-body px-4 py-4 px-md-5">
        <p class="mb-4 opacity-70 text-center font-weight-bold" >
            Crea un nuevo proyecto
        </p>
        <form formGroup="reestablishForm" (submit)="eliminarproyecto()">
            <div class="row">
                <select name="opciones" id="opcionesEliminarProyecto" class="mb-4">

                </select>
                <!-- Client input -->
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">
                    Crea el proyecto
                </button>
            </div>
        </form>
    </div>
</div>