<header class="header">
  <nav class="navbar navbar-expand-lg navbar-white bg-white">
    <div class="container-fluid">
      <span class="nav_image">
        <img src="../../assets/images/logoHiberus.jpg" id="logo_hiberus" alt="logo_img" (click)="onHomeClick()" />
      </span>
      <a class="navbar-brand" (click)="onHomeClick()">
        <i class="ti ti-home"></i><span id="title">Gestión de clientes Hiberus</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedUser" aria-controls="navbarSupportedUser" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedUser">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" (click)="onLogoutClick()">
              <i class="bi bi-person-circle"></i>
              <i class="bi bi-box-arrow-right ml-2"></i>
              <i class="bi bi-gear ml-2"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
