@import '../node_modules/font-awesome/css/font-awesome.css';

/* en esta parte del código, si no la entienden, contactar a mamine@hiberus.com */
.list-group-item {
    border: none !important;
    padding: 0 !important;
    color: white !important;
    margin-left: 1rem !important;
    background-color: #fff0 !important;
}

.list-group-item:hover {
    color: #00ccff !important;
    cursor: pointer !important;
    
}