<div class="container-fluid">
        <div class="row">
            <div class="custom-col">
              <app-side-menu></app-side-menu>
              </div>
            <div class="col"><app-header></app-header>
                <div class="row">
                    <p-splitter [panelSizes]="[25, 75]" [minSizes]="[15, 50]">
                        <ng-template pTemplate>
                            <!-- Contenido del primer panel (árbol) -->
                            <app-tree-menu></app-tree-menu>
                        </ng-template>
                        <ng-template pTemplate>
                                <button (click)="creaComponente1()">Crea un nuevo componente</button>
                                <button (click)="creaComponente2()">Elimina el componente antiguo y crea uno nuevo</button>
                            <!-- Contenido del segundo panel (tabmenu) -->
                            <div #contenedor class="container-fluid" id='contenedor'>
                                <!--Si no se ha selecionado nada en el menú, el fragmet no se actualiza y por lo tanto tiene el valor default, mostrar el tab menu cuando esto ocurra-->
                            </div>
                        </ng-template>
                    </p-splitter>
                </div>
            </div>
        </div>
    </div>