<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row">
                <app-header></app-header>
            </div>
            <div class="row">
                <button *ngIf="showTreeMenu" (click)="creaTree()">Crear TreeMenu</button>
                <button *ngIf="!showTreeMenu" (click)="eliminaTree()">Eliminar TreeMenu</button>

                <button type="button"> <i class="bi bi-building-add"></i>Crear cliente</button>
            </div>
            <div class="row sizePane">
                <as-split >
                    <as-split-area [size]="30" minSize="20" maxSize="60" [hidden]="!isTreeVisible">
                        <div #contenedor class="container-fluid" id='contenedor'></div>
                    </as-split-area>
                    <as-split-area>
                        <div class="container-fluid">
                            <ng-container *ngIf="fragment$ | async as fragment">
                                <app-tabmenu *ngIf="fragment === 'default'"></app-tabmenu>
                                <app-licitaciones *ngIf="fragment === 'Licitaciones'"></app-licitaciones>
                                <app-seguimientos *ngIf="fragment === 'Seguimientos'"></app-seguimientos>
                                <app-modificacliente *ngIf="fragment === 'Cliente'"></app-modificacliente>
                            </ng-container>
                        </div>
                    </as-split-area>
                </as-split>
            </div>
        </div>
    </div>
</div>
