.custom-col{
  width: calc(100rem/25);
  float: left;
  /* height: 100px; */

}

 :host {
  ::ng-deep .p-splitter-panel-nested {
    display: block !important;
  } 
}
.button-aniadir{
  width: 10rem;
  margin-left: 0.88rem;
  font-weight: bold;
  border-radius: 0 !important;
  background-color: rgb(222, 245, 245);
  height: 3.2rem;
  border: 0;
  color:rgb(59, 79, 145);
  font-size: small;
}
.button-aniadir:hover{
  background-color:rgb(202, 240, 243);
  transition:230ms;
}

.icono-aniadir{
  padding-right: 0.3rem;
}